#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.nav-bar {
  border: 3px solid gray;
  padding: 10px;
}
.header{
  margin: auto;
  border: 3px solid yellow;
}
.home{
  margin-top: 10px;
  border: 3px solid blue;
}
.grid-container{
  display: grid;
  grid-template-columns: repeat(2, minmax(20vw, 1fr));
  grid-template-rows: auto;
  column-gap: 10px;
}

img-div{
  display: flex;
  flex-direction: column;
}
img{
  width: 75%;
}

.paginate {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	list-style: none;
	margin: 0 20vw;
	padding: 10px;
	min-width: fit-content;
}
.paginate:hover{
  cursor: pointer;
}
.curr-page{
  background-color:  red;
}
.box-div{
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid blue;
  margin: 15px 
}